<footer>
    <div class="footer-content">
      <a href="#"><p>Copyright &copy; 2024 Dell Inc.</p></a>
      <a href="#"><p>Privacidade</p></a>
      <a href="#"><p>Termos de Uso</p></a>
      <a href="#"><p>Acessibilidade</p></a>
    </div>
</footer>
